@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
:root {
	--font: 'Ubuntu', 'ubuntu', sans-serif;
}

body {
	background-color: #0a072e;
	background-image: linear-gradient(90deg, rgb(20, 221, 110), rgb(20, 208, 221), rgb(10, 76, 255));
	background-size: 900%;
	animation: bg-animation 10s infinite alternate;
}

body::-webkit-scrollbar {
    display: none;/*hide scroll bar for chrome safari and opera*/
}

body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

@keyframes bg-animation {
	0% {background-position: left;}
    100% {background-position: right;}
}

h1 {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size:6rem;
    font-family: 'Ubuntu';
    font-weight: 900;
    animation: titleanimation 1s ;
}

@keyframes titleanimation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Ubuntu';
    font-weight: 900;
    animation: textanimation 1s;
}

@keyframes textanimation {
    0% {opacity: 0; }
    100% {opacity: 1; }
}

a {
    color: black;
    
}
