/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');
:root {
	--font: 'Ubuntu', 'ubuntu', sans-serif;
}

body {
	background-color: #0a072e;
	overflow: hidden; /* hide scroll bar */
	background-image: linear-gradient(45deg, rgb(20, 221, 110), rgb(20, 208, 221), rgb(10, 76, 255));
	background-size: 400%;
	animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
	0% {background-position: left;}
    100% {background-position: right;}
}

#userPhoto {
	width: 130px;
	height: 130px;
	display: block;
	margin: 35px auto 20px;
	/*-webkit-box-shadow: 0px 10px 0px 0px rgb(222, 218, 162, 1);
	-moz-box-shadow: 0px 10px 0px 0px rgba(222, 218, 162, 1);
	box-shadow: 0px 10px 0px 0px rgba(222, 218, 162, 1);*/
	transition: all 0.15s;
	mix-blend-mode: darken;
}

#userPhoto:hover {
	/*box-shadow: 0px 10px rgba(222, 218, 162, 1);*/
	transform: translateY(-2px);
	mix-blend-mode: darken;
}

#userPhoto:active {
	/*box-shadow: 0px 0px black;*/
	transform: translateY(6px);
	mix-blend-mode: darken;
}

#userName {
	color: #000000e1;
	
	font-size: 1.9rem;
	font-weight: 600;
	line-height: 1.25;
	display: block;
    margin: 10px;
	font-family: var(--font);
	width: 100%;
	text-align: center;
	text-decoration: none;
    transition: all 0.15s;
    transform: scale(1,1)
}

#userName:hover {
        transition: all 0.15s;
        transform: scale(1.1,1.1)
}

#links {
	max-width: 675px;
	width: auto;
	display: block;
	margin: 27px auto;
}

@media only screen and (max-width: 700px) {
	#links {
		margin-left: 3%;
		margin-right: 3%;
	}
	.night_mode {
		margin-right: 40%;
	}
}

.link {
	display: block;
	background-color: #01A79B;
	color: rgb(0, 0, 0);
	font-family: var(--font);
	text-align: center;
	margin-bottom: 20px;
	padding: 17px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all 0.15s;
	box-shadow: 0px 6px #007569;
}

.link:hover {
	/* background: #019489; */
	box-shadow: 0px 8px #007569;
	transform: translateY(-2px);
}

.link:active {
	transform: translateY(6px);
	box-shadow: 0px 0px #007569;
}

#proker {
	max-width: 300px;
	width: auto;
	display: grid;
	margin: 27px auto;
}

.footer {
	text-align: center;
	font-size: 1.3rem;
}

.footer a {
	text-decoration: none;
}

.media {
	background: #DD5A79;
	width: 38px;
	height: 38px;
	text-align: center;
	color: white;
	margin-bottom: 40px;
	box-shadow: 0px 6px #9E4355;
	transition: all 0.15s;
}

.media:hover {
	box-shadow: 0px 8px #9E4355;
	transform: translateY(-2px);
}

.media:active {
	transform: translateY(6px);
	box-shadow: 0px 0px #9E4355;
}
